#divcont{
    background-color: #863f3f;
    height: 100%;
    width: 70%;
    border: 20px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}
#divbody{
    background-color: white;
    margin: 55px;
    height: 55%;
    width: 80%;
    border: rgb(7, 7, 119) 18px solid; 
    align-items: center;
    margin-top: 6%;
    margin-left: 8%;
}
p{
    color: blue; 
    font-weight: bold ;
    font-family: Arial;
    font-size: 23px;
    margin-left: 12% ;
    margin-bottom: 5%;
    margin-top: 5%;

}

#azul{
    background-color: blue;
    height: 40px;
    width: 65%;
    margin-left: 14%;
}
#roxo{
    background-color: blueviolet;
    height: 40px;
    width: 38%;
    margin-left: 28%;
}
#verde{
background-color: green;
height: 40px;
width: 60%;
margin-left: 17%

}
#amarelo{
    background-color: yellow;
    height: 40px;
    width: 50%;
    margin-left: 20%;
}
#pai{
    display: flex;

}
#vermelho{
    background-color: red;
    height: 40px;
    width: 40%;
}
#cinza{
    background-color: rgb(167, 162, 162);
    height: 40px;
    width: 25%;
}

#verdeclaro{
    background-color: rgb(0, 255, 0);
    height: 40px;
    width: 35%;
}