#div1{
    background-color: white;
    height: 500px;
    width: 50vw;
    border-style: dotted;
    border-color: black;
    border-width: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
#div2{
    background-color: yellow;
    height: 50px;
    width: 30%;

}
#div3{
    background-color: rgb(255, 175, 4);
    height: 100px;
    width: 30%;

}
#div4{
    background-color: rgb(70, 228, 70);
    color: white;
    font-size: 30px;
    padding: 50px;
    margin-left: 50px;
    margin-top: 50px;

}