#div1{
    background-color: rgb(176, 102, 211);
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;  align-items:center ;
}
#div2{
    background-color: rgb(226, 45, 217);
    height: 100%;
    width: 250px;
    border: red solid 20px
}
#div3{
    background-color: rgb(3, 248, 228);
    height: 88%;
    width: 30%;
}