#div1{
width: 50px;
height: 50px;
background-color: red;
border-style: solid;
border-width: 2px;
border-color: green;
margin-top: 100px;

}
#div2{
    background-color: black;
    height: 50vh;
    width: 50%;
    border-style: dashed;
    border-color: red;
    border-width: 10px;
    margin-left: 100px;
    margin-top: 100px;
  
}